@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
footer{
  display: flex;
  justify-content: center;
}
header{
  background-color: #efefef;
  padding-bottom: 15px;
  margin-bottom: 15px;
  width: 100vw;
}
h3{
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding: 15px 0px;
  margin: auto;
}
.clearButton{
  margin-top: 15px;
  color: #6bbe66;
  border: 1px solid #6bbe66;
  border-radius: 3px;
  padding: 10px;
  background-color: transparent;
}
.clearButton:hover{
  cursor: pointer;
  background-color: #6bbe66;
  color: #fff;
}
.itemsList{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.developer {
  font-family: 'Poppins', sans-serif;
  color: #6bbe66;
  opacity: 50%;
  font-size: 10px;
  position: fixed;
  bottom: 10px;
}